* {
  text-align: center;
  font-family: "Oxygen", sans-serif;
}
article {
  width: 80%;
  margin: 10px auto;
}
article header {
  font-size: 1.5em;
}
body {
  background-color: lightgray;
  font-family: sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 8px;
  margin:10px auto;
}
thead {
  font-variant: small-caps;
  font-size: 1.25em;
}
/*
tbody tr:nth-child(2n+1){
  background-color: indianred;
}
*/
td {
  padding: 0.5em;
  border: 1px solid #888;
}
